.group-title {
	font-size: 2em;
}

ul {
	margin-left: 2em;
}

li {
	list-style-type: none;
}

.li-hover:hover {
	cursor: pointer;
	background: #f0f0f0;
}

.line{
	text-decoration: none;
	padding: .2em;
}