

#container {
	margin: 1%;
	padding: 5px;
	font-family: Liberation Sans, sans-serif;
}

#groups {
	margin: 10px 0;
	padding-left: 10px;
}

.group:first-of-type {
	margin-top: 10px;
}

.group {
	margin-top: 20px;
}

.group-amount {
	font-size: 120%;
}

.group-date {
	opacity: 0.7;
}

.restore-all {
	margin-left: 5px;
	cursor: pointer;
	color: #234da7;
}

.restore-all:hover {
	color: #234da7;
	text-decoration: underline;
}

.delete-all {
	margin-left: 5px;
	cursor: pointer;
	color: #234da7;
}

.delete-all:hover {
	color: #234da7;
	text-decoration: underline;
}

ul {
	margin-left: 2em;
}

li {
	list-style-type: none;
}

.delete-link {
	font-size: 70%;
	font-weight: bold;
	background: #eee;
	color: white;

	display: inline-block;
	border-radius: 1em;
	padding: 0 .3em;
	margin-right: 10px;
}

.delete-link:before {
	content: "X";
}

*:hover > .delete-link {
	background: #aaa;
}

.delete-link:hover {
	background: red;
	cursor: pointer;
}

.link, .link:visited {
	color: #234da7;
	text-decoration: none;
	padding: .2em;
	font-size: 85%;
}

.link:hover {
	cursor: pointer;
	text-decoration: underline;
}

h1 {
	font-size: 3em;
}

header {
	border-bottom: 1px solid #f6f6f6;
}

footer {
	border-top: 1px solid #f6f6f6;
	padding: 5px 0;
}

.menu-entry {
    text-align: left;
    font-size: 20px;
	background: #fefefe;
	padding: 10px;
}

.menu-entry:hover {
	cursor: pointer;
	background: #f0f0f0;
}

.grid-container {
	width: 100%;
}

.grid-container * {
	box-sizing: border-box;
}

.row:before,
.row:after {
	content: "";
	display: table ;
    clear: both;
}

.row{
    border-top: 1px solid #eee;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.my-handle {
	cursor: move;

}

.ghost {
	opacity: .5;
	background: #C8EBFB;
}

.li-hover:hover {
	cursor: pointer;
	background: #f0f0f0;
	padding-bottom: 3px;
}

.li-standard {
	padding-bottom: 3px;
}

.tabs {
	padding-top: 10px;
	padding-bottom: 10px;
}

.group-title {
	margin-bottom: 10px;
}