/**/
/* GENERAL STYLES */
/**/

body {
	background: #fefefe;
	color: #333;
	font-size: 16px;
	line-height: 1.4;
}

#container {
	margin: 1%;
	padding: 5px;
	font-family: Liberation Sans, sans-serif;
}

/**/
/* GROUPS RELATED STYLES */
/**/

#groups {
	margin: 10px 0;
	padding-left: 10px;
}

.group:first-of-type {
	margin-top: 10px;
}
.group {
	margin-top: 20px;
}

.group-amount {
	font-size: 2em;
}

.group-date {
	opacity: 0.7;
}

.restore-all {
	margin-left: 5px;
	cursor: pointer;
}
.restore-all:hover {
	color: blue;
	text-decoration: underline;
}

ul {
	margin-left: 2em;
}

li {
	list-style-type: none;
}

.delete-link {
	font-size: .9em;
	font-weight: bold;
	background: #eee;
	color: white;

	display: inline-block;
	border-radius: 1em;
	padding: 0 .3em;
	margin-right: 10px;
}
.delete-link:before {
	content: "X";
}
*:hover > .delete-link {
	background: #aaa;
}
.delete-link:hover {
	background: red;
	cursor: pointer;
}

.link, .link:visited {
	color: blue;
	text-decoration: none;
	padding: .2em;
}
.link:hover {
	cursor: pointer;
	text-decoration: underline;
}

/**/
/* HEADER STYLES */
/**/

h1 {
	font-size: 3em;
}

header {
	border-bottom: 1px solid #f6f6f6;
}

/**/
/* FOOTER STYLES */
/**/

footer {
	border-top: 1px solid #f6f6f6;
	padding: 5px 0;
}

.menu-entry {
    text-align: left;
    font-size: 20px;
	background: #fefefe;
	padding: 10px;
}

.menu-entry:hover {
	cursor: pointer;
	background: #f0f0f0;
}

.grid-container {
	width: 100%;
}

.grid-container * {
	box-sizing: border-box;
}

/* clearfix hack */
.row:before,
.row:after {
	content: "";
	display: table ;
    clear: both;
}
.row{
    border-top: 1px solid #eee;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.switch {
	width: 57px;
	height: 28px;
	position: relative;
	border: 1px solid #dfdfdf;
	background-color: #fdfdfd;
	box-shadow: #dfdfdf 0 0 0 0 inset;
	border-radius: 20px;
	background-clip: content-box;
	display: inline-block;
	-webkit-appearance: none;
	user-select: none;
	outline: none;
}
.switch:before {
	content: '';
	width: 26px;
	height: 26px;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 20px;
	background-color: #fff;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}
.switch:checked {
	border-color: #64bd63;
	box-shadow: #64bd63 0 0 0 16px inset;
	background-color: #64bd63;
}
.switch:checked:before {
	left: 30px;
}
.switch.switch-anim {
	transition: border cubic-bezier(0, 0, 0, 1) 0.4s, box-shadow cubic-bezier(0, 0, 0, 1) 0.4s;
}
.switch.switch-anim:before {
	transition: left 0.3s;
}
.switch.switch-anim:checked {
	box-shadow: #64bd63 0 0 0 16px inset;
	background-color: #64bd63;
	transition: border ease 0.4s, box-shadow ease 0.4s, background-color ease 1.2s;
}
.switch.switch-anim:checked:before {
	transition: left 0.3s;
}


.my-handle {
	cursor: move;
}

.ghost {
	opacity: .5;
	background: #C8EBFB;
}

.li-hover:hover {
	cursor: pointer;
	background: #f0f0f0;
}
